@font-face {
    font-family: 'white_larch_personal_use_onRg';
    src: url('Fonts/whitelarch_personal_use-webfont.woff2') format('woff2'),
         url('Fonts/whitelarch_personal_use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  /*font-family: courier, impact, arial; */
  font-style: normal;
  font-family: 'white_larch_personal_use_onRg';
  font-size: 30px;
}

div {
  display: inline-block;
  background-color: #1F6169;
  width: 340px;
  height: 400px;
  float: left;
  padding-left: 20px;
  overflow: scroll;
  padding: 25px;
  border: 5px solid #BCD8E8;
  margin: 10px;
  color: #FFFFFF;
  background-image: url(http://www.solofondosdepantalla.net/fondos-de-pantalla/Abstractos/Fondo-de-pantalla-Abstracto-229.jpg);
}

span {
  /* dislay: none;   queda invisible */

  display: inline-block;
  width: 30%;
  float: right;
}
